<section>
  <div class="container py-1">
    <div class="row">
      <div class="col-md-12 col-xl-6">
        <div class="card shadow-3 border rounded-3">
          <div class="card-body bg-color">
            <div class="row">
              <div id="<%= dom_id product %>"> 
                <div class="row">
                <div class="col-md-12 col-xl-4">
                <p>
                  <%= image_tag product.image_url, id: "imagepartial" %>
                </p>
                </div>

                <div class="col">
                <p>
                  <%= video_tag product.video_url.to_s, :controls => true, id: "videopartial" %>
                </p>
                </div>
                </div>
                <p>
                   <%= product.title%>
                </p>
                <p>
                  <%= product.description %>
                </p>
                <p>
                    Rs. <%= product.price %>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>    
    </div>  
  </div>
</section>


 